
<header class="main">
   <aside class="navbar">
    <img src="../../../assets/Image 2.jpg" alt="" class="logo">
       <aside class="nav_group">
            <aside class="nav_items">
                    <h2>HOME</h2>
                    <h2 class="nav_active">TEST PRIDE</h2>
                    <h2 class="nav_active">LOCATIONS</h2>
                    <h2 class="nav_active">PRICING</h2>
            </aside>
            <aside class="contact">
            <img src="../../../assets/Group 47241.jpg" alt="" class="icon_img">
                <aside class="text">
                        <p class="icon_head">Email us now:</p>
                        <p>info@fygo.com</p>
                </aside>
            </aside>
            <aside class="contact">
            <img src="../../../assets/Group 47242.jpg" alt="" class="icon_img">
                <aside class="text">
                    <p class="icon_head">Call us now:</p>
                    <p>+98 844 8744 55</p>
                </aside>
            </aside>
        </aside>
   </aside>
   <aside class="center_body">
        <aside class="text_img">
            <img src="../../../assets/Mask Group 14.jpg" alt="" class="body_img1">    
            <aside class="center">
                    <aside class="body_text">
                        <p class="body_heading">BE THE VISIONARY GO WITH </p>
                        <P class="body_heading2">ECOFRIENDLY</P>
                    </aside>
                    <aside class="buton-group">
                        <button class="button_1">Find Nearest Station</button>
                        <button class="button_1">Become a Dealer</button>
                    </aside>
            </aside>
        </aside>
        <aside class="big_img">
            <img src="../../../assets/Group 47237.jpg" alt="" class="body_img2"> 
        </aside>
   </aside>
</header>
